{% extends "index.html" %}
{% load static %}
{% block title %}
    Моя корзина товаров
{% endblock %}
{% block content %}
    <h1>Ваша корзина покупок </h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Название товара</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Сумма товаров</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id%}">Удалить</a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Всего</td>
            <td colspan="2"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "Product" %}" class="button light">Продолжить покупи</a>
        <a href="#" class="button">Заказ</a>
    </p>
{% endblock %}