<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>
</head>
<body class="container">
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Название товара</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Цена</label><br>
            <input type="number" name="price" />
        </p>
         <p>
            <label>Описание товара</label><br>
            <input type="text" name="Description" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>

    <h2>Список Товаров</h2>
    <table>
        <tr><th>Id</th><th>Наименование</th><th>Цена</th><th>Описание</th></tr>
        {% for Product in Goods %}
            <tr>
            <td>{{ Product.id }}</td>
            <td>{{ Product.name }}</td>
            <td>{{ Product.price }}</td>
            <td>{{ Product.Description }}</td>
            <td><a href="edit/{{Product.id}}">Изменить</a> | <a href="delete/{{Product.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>