{% extends "index.html" %}

{% block title %}говорящий том{% endblock %}

{% block content %}

<h2>Список Товаров</h2>

    <table>
        <tr><th>Id</th><th>Наименование</th><th>Цена</th><th>Описание</th></tr>
        {% for Product in Goods %}
            <tr>
            <td>{{ Product.id }}</td>
            <td>{{ Product.name }}</td>
            <td>{{ Product.price }}</td>
            <td>{{ Product.Description }}</td>
            <td><a href=" edit/{{Product.id}}">Изменить</a> |
                <a href="delete/{{Product.id}}">Удалить</a> |
                <a href=" {% url "product_detail" Product.id %}" >Подробние</a>

            </tr>
        {% endfor %}
    </table>
{% endblock %}
