<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><h1>Наш интернет магазин товаров</h1></title>
    <a href="{'accounts/login'}">Войти</a>
    <a href="{'accounts/register'}">Регистрация</a>
</head>
<body>
    <meta charset="UTF-8">
     <label><h1>Наш интернет магазин товаров</h1></label>
         <h1> <a href="Product/">Наши товары</a>  </h1>
<td><a href="accounts/login">Вход</a> | <a href="accounts/register">Регистрация</a></td>
<img src="{% static "23.jpg" %}"</img>

</body>
</html>
