<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>

    <title>{% block title %}Наш интернет магазин товаров{% endblock %}</title>
</head>
<style>
     body {
    background-image: url('{% static "23.jpg"%}');
         background-size: cover;
    background-position: top;
    background-attachment: fixed;
    margin: auto;
     }
</style>
<body>
    <meta charset="UTF-8">
     <label><h1>Наш интернет магазин товаров</h1></label>
      {% if user.is_authenticated %}
    <p>Здарово, {{ user.username }}. Спасибо что зашел.</p>
{% else %}
    <p>Привет покупатель заходи или регистрируйся.</p>
{% endif %}
    {% if user.username %}
    <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
    <a href="{% url 'login' %}">Войти</a>|<a href="{% url 'register' %}">Регистрация</a>
{% endif %}


    </body>
<body>
        {% block sidebar %}
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="{% url 'Product' %}">Товары</a></li>
            <li><a href="{% url 'create_Product' %}">Добавить товар</a></li>

        </ul>
        {% endblock %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
<div class="cart">
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
            Моя корзина:
            <a href="{% url "cart:cart_detail" %}">
                 Количество товаров {{ total_items }} Сумма ,
                ${{ cart.get_total_price }}
            </a>
        {% else %}
            Ваша корзина пустая.
        {% endif %}
    {% endwith %}
</div>
</html>
